# GeoNode==2.10
-e git+https://github.com/GeoNode/geonode.git@2.10.x#egg=GeoNode
django-overextends
django-annoying
django-rosetta==0.9.3
django-grappelli==2.12.3
djproxy
simplejson
django-analytical==2.5.0
django-taggit-templatetags2
