{% extends "site_base.html" %}

{% load i18n %}
{% block title %} {% trans "About RITMARE GET-IT Starterkit" %} — {{ block.super }} {% endblock %}

{% block body %}
  <header class="jumbotron subhead" id="overview">
    <h1>{% trans "About RITMARE GET-IT Starterkit" %}</h1>
    <p class="lead">
      {% blocktrans %}
      The updated documentation is available at the RITMARE SP7 Wiki:
      <a href="http://sp7.irea.cnr.it/wiki/index.php/Getting_Started">GET-IT Starterkit - Getting Started</a>
      {% endblocktrans %}
  </header>

{% endblock %}
