{% extends "site_base.html" %}

{% load i18n %}
{% block title %} {% trans "GDPR" %} - {{ block.super }} {% endblock %}

{% block body %}
<div class="page-header">
    <h2>CDN Privacy Statement</h2>
</div>
<div class="row">
    <div class="col-md-8" id="container">
        <p>Your privacy is important to us. This privacy statement explains what personal data CDN collects from you and how we use that data.</p>
        <p>Last Updated: July 2018</p>
        <h2>Personal Data That We Collect</h2>
        <p>The personal data that we collect from you is exclusively data that you voluntarily provide about yourself by adding a person record. In addition we also collect cookies, and receiving error reports or usage data from using CDN.</p>
        <h2>How We Use Personal Data</h2>
        <p>CDN uses the provided personal data in order to connect sensor and observation to you. This is purely voluntarily and instead of putting your personal information you can also just reference your institution. This information is used to create metadata records that are being harvested by external platforms.</p>
        <p>Platforms or infrastructures that currently harvest CDN information are:</p>
        <ul>
            <li>
                eLTER DIP <a href="http://dip.biosense.rs/">http://dip.biosense.rs/</a>
            </li>
        </ul>
        <p>Please be aware that if you share your personal information like your e-mail address it will show up in the respective systems that harvest CDN.</p>
        <h2>How to Access &amp; Control Your Personal Data</h2>
        <p>You can view, edit or delete your personal data online by editing your “person” page within <a href="https://data.lter-europe.net/deims/" target="_blank">DEIMS-SDR</a>.</p>
        <p>You can always choose to change the provided information or delete it altogether. If someone put information about you on DEIMS-SDR you can contact us and we will delete that information right away.</p>
        <h2>Cookies &amp; Similar Technologies</h2>
        <p>You can read about the cookies in this <a href="http://www.get-it.it/cookiepolicy-en.html" target="_blank">page</a></p>
        <h2>Security</h2>
        <p>The security of your Personal Information is important to us and we strive to use commercially acceptable means to protect your Personal Information, however we cannot guarantee its absolute security.</p>
    </div>
</div>
{% endblock %}