{% extends 'index.html' %}
{% load i18n %}
{% load maps_tags %}
{% load layers_tags %}
{% load pagination_tags %}
{% load staticfiles %}
{% load url from future %}
{% comment %}
This is where you can override the hero area block. You can simply modify the content below or replace it wholesale to meet your own needs. 
{% endcomment %}
  {% block hero %}
  <div class="hero-unit">
    <h1>{% trans "Starter Kit - Demo" %}</h1>

    <div class="hero-unit-content">

      <div class="intro">
      <h2>{% blocktrans %}Upload your layers, create your maps and join the RITMARE interoperable Infrastructure.{% endblocktrans %}</h2>
      <p>
        {% blocktrans %} 
	SK is developed under the umbrella of the RITMARE project (<a href="http://www.ritmare.it/">www.ritmare.it</a>) in the <a href="http://sp7.irea.cnr.it/">Sub-Project 7</a> framework and it is based upon <a href="http://geonode.org/">GeoNode</a>.
	{% endblocktrans %}
      </p>
      <span>{% trans 'Need help' %} <a href="http://sp7.irea.cnr.it/wiki/index.php/Getting_Started">{% trans 'Getting Started?' %}</a></span>
      </div>
      <div class="btns">
        <a class="btn btn-large" href="{% url "layer_browse" %}">
          {% trans "Explore Layers" %}
        </a>
        <a class="btn btn-large" href="{% url "maps_browse" %}">
          {% trans "Explore Maps" %}
        </a>
      </div>
    </div>
  </div>
  {% endblock %}
