{% extends 'index.html' %}
{% load i18n %}
{% load base_tags %}
{% comment %}
This is where you can override the hero area block. You can simply modify the content below or replace it wholesale to meet your own needs.
{% endcomment %}
{% block hero %}
<div class="jumbotron">
    <div class="container">
        <h1>GET-IT Central Data Node (CDN)</h1>
        <p>enables you to provide time series data from field-based environmental sensors. You can describe sensor and upload data that are then linked to the eLTER portal as INSPIRE web services.</p>
        <p>{% trans 'Need help?' %} <a href="http://getit.readthedocs.io/en/latest/index.html" title="GET-IT doc"
                                       target="_blank">Visit GET-IT documentation</a></p>
        <p></p>
    </div>
</div>
{% endblock %}

{% block bigsearch %}
{% endblock %}

{% block datasets %}
{% endblock %}

{% block showcase %}
<section id="showcase">
    <div class="row">
        <div class="container text-center">
            <h2>Featured Datasets</h2>
            <div class="row home-facets">
                {% with facet_type='home' %}
                {% facets as facets %}
                <!-- Sensor -->
                <div class="col-md-6">
                    <p><a href="{% url " osk_browse" %}"><i class="fa fa-broadcast-tower fa-4x"></i></a></p>
                    <!--<h2><a href="{% url "osk_browse" %}">{{ facets.layer|default:_("No") }} {% blocktrans count counter=facets.layer %}Sensor{% plural %}Sensors{% endblocktrans %}</a></h2>-->
                    <h2><a href="{% url " osk_browse" %}">{% trans 'Sensors'%}</a></h2>
                    <p></p>
                    {% if user.is_authenticated %}
                    <p class="text-center"><a class="btn btn-default" href="{% url " osk_browse" %}#ediclient_container" role="button">{% trans "Add sensors" %} &raquo;</a></p>
                    {% else %}
                    <p class="text-center"><a class="btn btn-default" href="{% url " osk_browse" %}" role="button">{% trans "Explore sensors" %} &raquo;</a></p>
                    {% endif %}
                </div>
                <!-- Layer -->
                <div class="col-md-6">
                    <p><a href="{% url " layer_browse" %}"><i class="fa fa-square-o fa-4x rotate-45"></i></a></p>
                    <h2><a href="{% url " layer_browse" %}">{{ facets.layer|default:_("No") }} {% blocktrans count counter=facets.layer %}Layer{% plural %}Layers{% endblocktrans %}</a></h2>
                    <p>{% trans "Click to search for geospatial data published by other users, organizations and public sources. Download data in standard formats." %}</p>
                    {% if user.is_authenticated %}
                    <p class="text-center"><a class="btn btn-default" href="{% url " layer_upload" %}" role="button">{% trans "Add layers" %} &raquo;</a></p>
                    {% else %}
                    <p class="text-center"><a class="btn btn-default" href="{% url " layer_browse" %}" role="button">{% trans "Explore layers" %} &raquo;</a></p>
                    {% endif %}
                </div>
                <!-- Sample -->
                <div class="col-md-6">
                    <p><a href="{% url " samples_browse" %}"><i class="fa fa-fill fa-4x"></i></a></p>
                    <h2><a href="{% url " samples_browse" %}">{{ facets.map|default:_("No") }} {% blocktrans count counter=facets.map %}Sample{% plural %}Samples{% endblocktrans %}</a></h2>
                    <p>Click to visualize samples shared by other users.</p>
                    {% if user.is_authenticated %}
                    <p><a class="btn btn-default" href="{% url " samples_upload" %}" role="button">Create sample &raquo;</a></p>
                    {% else %}
                    <p><a class="btn btn-default" href="{% url " samples_browse" %}" role="button">Explore samples &raquo;</a></p>
                    {% endif %}
                </div>
                <!-- Map -->
                <div class="col-md-6">
                    <p><a href="{% url " maps_browse" %}"><i class="fa fa-map fa-4x"></i></a></p>
                    <h2><a href="{% url " maps_browse" %}">{{ facets.map|default:_("No") }} {% blocktrans count counter=facets.map %}Map{% plural %}Maps{% endblocktrans %}</a></h2>
                    <p>{% trans "Data is available for browsing, aggregating and styling to generate maps which can be saved, downloaded, shared publicly or restricted to specify users only." %}</p>
                    {% if user.is_authenticated %}
                    <p><a class="btn btn-default" href="{% url " new_map" %}" role="button">{% trans "Create maps" %}
                        &raquo;</a></p>
                    {% else %}
                    <p><a class="btn btn-default" href="{% url " maps_browse" %}" role="button">{% trans "Explore maps"%} &raquo;</a></p>
                    {% endif %}
                </div>
                <!--div class="col-md-6">
                  <p><a href="{% url "document_browse" %}"><i class="fa fa-newspaper-o fa-4x"></i></a></p>
                  <h2><a href="{% url "document_browse" %}">{{ facets.document|default:_("No") }} {% blocktrans count counter=facets.document %}Document{% plural %}Documents{% endblocktrans %}</a></h2>
                  <p>{% trans "As for the layers and maps GeoNode allows to publish tabular and text data, manage theirs metadata and associated documents." %}</p>
                  {% if user.is_authenticated %}
                  <p class="text-center"><a class="btn btn-default" href="{% url "document_browse" %}" role="button">{% trans "Add documents" %} &raquo;</a></p>
                  {% else %}
                  <p class="text-center"><a class="btn btn-default" href="{% url "document_browse" %}" role="button">{% trans "Explore documents" %} &raquo;</a></p>
                  {% endif %}
                </div-->
                <!--div class="col-md-6">
                  <p><a href="{% url "profile_browse" %}"><i class="fa fa-user fa-4x"></i></a></p>
                  <h2><a href="{% url "profile_browse" %}">{{ facets.user|default:_("No") }} {% blocktrans count counter=facets.user %}User{% plural %}Users{% endblocktrans %}</a></h2>
                  <p>{% trans "IHP-WINS allows registered users to easily upload geospatial data and various documents in several formats." %}</p>
                  <p><a class="btn btn-default" href="{% url "profile_browse" %}" role="button">{% trans "See users" %} &raquo;</a></p>
                </div-->
                {% endwith %}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="container text-center">
            {% verbatim %}
            <div ng-app="featured">
                <div ng-repeat="item in featured | limitTo:4">
                    <div class="col-md-3">
                        <a href="{{ item.detail_url }}"><img ng-src="{{ item.thumbnail_url }}"/></a>
                        <h4>{{ item.title | limitTo: 20 }}{{item.title.length > 20 ? '...' : ''}}</h4>
                    </div>
                </div>
            </div>
            {% endverbatim %}
            <!--p><a href="/search/">Explore all datasets</a></p-->
        </div>
    </div>
</section>
{% endblock %}