{% extends "base.html" %}
{% load i18n avatar_tags announcements_tags %}
{% block head %}
{{ block.super }}
<link href="{{ STATIC_URL }}geosk/css/site_base.css" rel="stylesheet"/>

<link rel="icon" href="/static/geosk/img/favicon.ico" />
{% endblock %}

{% block header %}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <section>
        <div class="container">
          <div class="row">
            <div class="span3">
              <a href="{% url "home" %}"><span class="nav-logo"></span></a>
            </div>
            <div class="span9">
              <div class="nav-collapse pull-right">
                <div class="pull-right">
                  <ul class="nav pull-right account-bar">
                    {% if user.is_authenticated %}
                      <li class="user-avatar">
                        {% avatar user 20 %}
                      </li>
                      <li class="dropdown user">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                          {{ user.username }}
                          <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                          <li><a href="{{ user.get_profile.get_absolute_url }}"><i class="icon-user"></i> {% trans "Profile" %}</a></li>
                          <li><a href="{% url "messages_inbox" %}"><i class="icon-inbox"></i> {% trans "Inbox" %}</a></li>
                          {% if user.is_staff %}
                            <li><a href="{% url "admin:index" %}"><i class="icon-cog"></i> {% trans "Admin" %}</a></li>
                          {% endif %}
                          {% if perms.announcements.can_manage %}
                            <li><a href="{% url "announcements_list" %}"><i class="icon-bullhorn"></i> {% trans "Announcements" %}</a></li>
                          {% endif %}
                          {% if user.is_superuser %}
                            <li><a href="{{ GEOSERVER_BASE_URL }}"><i class="icon-globe"></i> {% trans "GeoServer" %}</a></li>
                          {% endif %}
                          <li><a href="{% url "recent-activity" %}"><i class="icon-fire"></i> {% trans "Recent Activity" %}</a></li>
                          <li class="divider"></li>
                          <li><a href="{% url "account_logout" %}"><i class="icon-off"></i> {% trans "Log out" %}</a></li>
                        </ul>
                      </li> <!-- ./dropdown user -->
                      <li class="divider-v">|</li>
                      <li class="actions">
                        <!--a href="#" rel="tooltip" title="{% trans 'Notifications' %}"><i class="icon-bullhorn"></i></a>
                        <a href="#" rel="tooltip" title="{% trans 'Messages' %}"><i class="icon-envelope"></i></a-->
                        <a href="{% url "data_upload" %}" rel="tooltip" title="{% trans 'Upload' %}"><i class="icon-upload-alt"></i></a>
                        <a target="_blank" href="http://getit.readthedocs.org/" rel="tooltip" title="{% trans 'Help' %}"><i class="icon-question-sign"></i></a>
                      </li>
                      <li class="divider-v">|</li>
                      <li><a href="{% url "demo_index" %}">Demo</a></li>

                    {% else %}
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans "Sign in" %}</a>
                        <ul class="dropdown-menu">
                          <li>
                            <form action="{% url "account_login" %}" method="post" class="sign-in">
                            {% csrf_token %}
                              <label for="id_username">{% trans "Username" %}:</label>
                              <input id="id_username" name="username" type="text" />
                              <label for="id_password">{% trans "Password" %}:</label>
                              <input id="id_password" name="password" type="password" />
                              <label class="checkbox">
                                <input type="checkbox" />
                                  {% trans "Remember Me" %}
                              </label>
                              <button type="submit" class="btn pull-right">{% trans "Sign in" %}</button>
                            </form>
                          </li>
                        </ul>
                      </li>
                      {% if REGISTRATION_OPEN %}
                      <li class="navbar-text">{% trans "or" %}</li>
                      <li><a href="{% url "account_signup" %}">{% trans "Register" %}</a></li>
                      {% endif %}
                      <li class="divider-v">|</li>
                      <li class="actions">
                        <a target="_blank" href="http://getit.readthedocs.org/" rel="tooltip" title="help"><i class="icon-question-sign"></i></a>
                      </li>
                    {% endif %}
                  </ul>
                </div>
              </div>
              <form class="input-append  pull-right" action="{% url "search" %}" method="GET">
                {# csrf_token #}
                <input id="search" type="text" name="q"/>
              </form>
            </div>
          </div>
          <div class="row nav-box">
            <div class="span10">
              <nav class="main-nav">
                <ul>
                  <li id="nav_home">
                    <a href="{% url "home" %}">{% trans "Home" %}</a>
                  </li>
                  <li id="nav_data">
                    <a href="{% url "layer_browse" %}">{% trans "Layers" %}</a>
                  </li>
                  {% if SOS_APP %}
                  <li id="nav_osk">
                      <a href="{% url "osk_browse" %}">{% trans "Sensors" %}</a>
                  </li>
                  {% endif %}
                  {% if DOCUMENTS_APP or USE_DOCUMENTS %}
                  <li id="nav_documents">
                    <a href="{% url "documents_browse" %}">{% trans "Documents" %}</a>
                  </li>
                  {% endif %}
                  <li id="nav_maps">
                    <a href="{% url "maps_browse" %}">{% trans "Maps" %}</a>
                  </li>
                  <li id="nav_people">
                    <a href="{% url "profile_browse" %}">{% trans "People" %}</a>
                  </li>
                  <li id="nav_search">
                    <a href="{% url "advanced_search" %}">{% trans "Search" %}</a>
                  </li>
                  <li id="nav_services">
                      <a href="{% url "about_services" %}">{% trans "Services" %}</a>
                  </li>
                  {% block extra-nav %}{% endblock %}
                </ul>
              </nav>
            </div> <!-- ./span10 -->
            {% if SOCIAL_BUTTONS %}
            <div class="span2">
              <ul class="social">
                  <li><a href="http://www.facebook.com/sharer.php?u=http://{{ request.get_host }}{{ request.get_full_path }}" class="fb">facebook</a></li>
                  <li><a href="https://twitter.com/share?url=http://{{ request.get_host }}{{ request.get_full_path }}" class="tw">twitter</a></li>
                  <li><a href="https://plusone.google.com/_/1/confirm?hl=en&url=http://{{ request.get_host }}{{ request.get_full_path }}" class="gp">google+</a></li>
              </ul>
            </div> <!-- /.span2 -->
            {% endif %}
          </div> <!-- /.row nav-box -->
        </div> <!-- /.container -->
        </section>
      </div> <!-- /.navbar-inner -->
    </div> <!-- /.navbar navbar-fixed-top -->
{% endblock header %}

{% block extra_script %}
{{ block.super }}
<!-- TODO: caricare questa libreria solo per la mappa -->
<script src="{{STATIC_URL}}geosk/js/flotcharts.js" type="text/javascript"></script>
<style>
/* flotcharts on map_view */
.chart {
  height: 100%;
}
</style>
{% endblock extra_script %}


{% block footer %}
<footer class="footer">
  <div class="container">
    <div class="pull-left">
      <i class="icon-arrow-right"></i>
      <!--{% trans "GET-IT is a project of the GET-IT Development Team" %} | <a href="{% url "about" %}">{% trans "About" %} </a> -->
       Geoinformation Enabling ToolkIT starterkit&reg;
      {% trans " is developed by <a target='_blank' href='http://sp7.irea.cnr.it'>SP7</a>-<a target='_blank' href='http://www.ritmare.it/'>RITMARE</a>" %}
      | <a href="mailto:getitskinfo@gmail.com">{% trans "Contacts" %} </a>
      | <a href="{% url "sk_license" %}">{% trans "Legal Notes" %} </a>
      | <a href="{% url "sk_credits" %}">{% trans "Credits" %} </a>
      | <i class="icon-arrow-right"></i>
      {% trans "Based on" %} <a target="_blank" href="http://geonode.org">{% trans "GeoNode" %}</a>
      <!-- | <a href="{% url "developer" %}">{% trans "Info" %}</a> -->
      </a>
    </div>
    <div class="pull-right">
      {% if csrf_token != "NOTPROVIDED" %}
      {% get_current_language as LANGUAGE %}
      <form class="form-inline" action="/i18n/setlang/" method="post">
        {% csrf_token %}
        <label>{% trans "Language" %}</label>
        <select class="input span2" name="language" onchange="javascript:form.submit()">
          {% for lang in LANGUAGES %}
          <option value="{{ lang.0 }}" {% ifequal LANGUAGE_CODE lang.0 %} selected="selected"{% endifequal %}>
            {{ lang.1 }}
          </option>
          {% endfor %}
        </select>
      </form>
      {% endif %}
    </div> <!-- /.pull-right -->
  </div> <!-- /.container -->
</footer>
{% endblock footer %}
