{% load i18n %}

<article class="description tab-pane active" id="info">
  <ul class="unstyled wide">
  {% if resource.title%}
    <li>
      <strong>{% trans "Title" %}:</strong>
      {{ resource.title }}
    </li>
  {% endif %}
  {% if resource.resource_type == 'sos_sensor' %}
    <li>
      <strong>{% trans "Sensor ID" %}:</strong>
      {{ resource.supplemental_information }}
    </li>
  {% endif %}

  {% if resource.abstract %}
    <li>
      <strong>{% trans "Abstract" %}:</strong>
      {{ resource.abstract|escape|urlize|linebreaks|safe }}
    </li>
  {% endif %}

  {% if resource.date %}
    <li>
      <strong>{% trans resource.date_type|title %} {% trans "Date" %}:</strong>
      {{ resource.date }}
    </li>
  {% endif %}

  {% if resource.display_type %}
    <li>
      <strong>{% trans "Type" %}:</strong>
      {{ resource.display_type }}
    </li>
  {% endif %}

  {% if resource.keyword_list %}
    <li>
      <strong>{% trans "Keywords" %}:</strong>
      {% for keyword in resource.keyword_list %}
        {{ keyword }}
      {% endfor %}
    </li>
  {% endif %}

  {% if resource.category %}
    <li>
      <strong>{% trans "Category" %}:</strong>
      {{ resource.category }}
    </li>
  {% endif %}

  {% if resource.regions.all %}
   <li>
      <strong>{% trans "Regions" %}:</strong>
        {{ resource.regions.all|join:", " }}
    </li>
  {% endif %}

  {% if resource.license %}
    <li>
      <strong>{% trans "License" %}:</strong>
      {{ resource.license.name }}
    </li>
  {% endif %}

  {% if resource.mdextension %}
    {% regroup resource.mdextension.multicontactrole_set.all by scope as contacts_list %}
    {% for scope in contacts_list %}
    <li>
      <strong>{{ scope.grouper }}:</strong>
      {% for item in scope.list %}
      <blockquote>
	{{ item.contact }}<br/>
	{{ item.contact.email }}<br/>
	<abbr title="{{ item.role }}">{{ item.role.value }}</abbr></p>
       </blockquote>
      {% endfor %}
    </li>
    {% endfor %}

    {% if resource.owner %}
    <li>
      <strong>{% trans "GET-IT User" %}:</strong>
      <a href="{{ resource.owner.get_profile.get_absolute_url }}">{{ resource.owner.username }}</a>
    </li>
    {% endif %}

  {% else %}
    {% if resource.owner %}
    <li>
      <strong>{% trans "GET-IT User" %}:</strong>
      <a href="{{ resource.owner.get_profile.get_absolute_url }}">{{ resource.owner.username }}</a>
    </li>
    {% endif %}

    {% if resource.poc.user %}
    <li>
      <strong>{% trans "Point of Contact" %}:</strong>
      <a href="{{ resource.poc.user.get_profile.get_absolute_url }}"> {{ resource.poc.user.username }} </a>
    <li>
      {% endif %}
  {% endif %}
  </ul>
  {% if not resource.resource_type == 'sos_sensor' %}
  <a href="#more" data-toggle="collapse" data-target=".more">{% trans "Show/Hide" %}</a>

  <div class="more collapse in">
    <ul class="unstyled wide">
    {% if resource.maintenance_frequency %}
      <li>
        <strong>{% trans "Maintenance Frequency" %}:</strong>
        {{ resource.maintenance_frequency_title }}
      </li>
    {% endif %}

    {% if resource.restriction_code_type or resource.constraints_other %}
      <li>
        <strong>{% trans "Restrictions" %}:</strong>
        {% if resource.constraints_other %}
            {{ resource.constraints_other }}
        {% else %}
            {{ resource.restriction_code_type }}
        {% endif %}
      </li>
    {% endif %}

    {% if resource.edition %}
      <li>
        <strong>{% trans "Edition" %}:</strong>
        {{ resource.edition}}
      </li>
    {% endif %}

    {% if resource.purpose %}
      <li>
        <strong>{% trans "Purpose" %}:</strong>
        {{ resource.purpose|escape|urlize|linebreaks|safe }}
      </li>
    {% endif %}

    {% if resource.language %}
      <li>
        <strong>{% trans "Language" %}:</strong>
        {{ resource.language_title }}
      </li>
    {% endif %}

    {% if resource.temporal_extent_start and resource.temporal_extent_end %}
      <li>
        <strong>{% trans "Temporal Extent" %}:</strong>
        {{ resource.temporal_extent_start }} - {{ resource.temporal_extent_end }}
      </li>
    {% endif %}

    {% if resource.data_quality_statement %}
      <li>
        <strong>{% trans "Data Quality" %}:</strong>
        {{ resource.data_quality_statement }}
      </li>
    {% endif %}

    {% if resource.supplemental_information %}
      <li>
        <strong>{% trans "Supplemental Information" %}:</strong>
        {{ resource.supplemental_information|escape|urlize|linebreaks|safe }}
      </li>
    {% endif %}

    {% if resource.spatial_representation_type %}
      <li>
        <strong>{% trans "Spatial Representation Type" %}:</strong>
        {{ resource.spatial_representation_type }}
      </li>
    {% endif %}
    </ul>
  </div>
  {% endif %}
</article>
