 .navbar-brand {
    width: 185px;
    height: 50px;
    background: transparent url("../img/logo-getit-eLTER_200px.png") no-repeat scroll 0px 5px;
    background-size: contain;
 }
 .navbar-inverse {
     background-color: #435926!important;
     border: 0;
 }

 .navbar-inverse .navbar-nav > li > a:hover {
     background-color: #6D9538!important;
 }

 .home .jumbotron {
     background: #6D9538!important;
 }