/*
.navbar .navbar-inner {
  background-color: #f0f0f0;
}



 .navbar .nav-box {
    background-color:#1C89CA
 }

 a {
    color: #1C89CA
 }


.span9 {
  width: 600px;
}

.span3 {
  width: 320px;
}
*/

.nav-logo {
    background: url(../img/logo.png) no-repeat;
    width: 220px;
}

 .navbar .navbar-inner {
  background-color: #f0f0f0;
}

 .navbar .nav>li>a, .navbar .nav>li>a:hover, .navbar .nav>li>a:active, .navbar .nav>li>a:focus {
    color: #023b7e;
    text-decoration: none;
    outline: none;
 }

.navbar .nav li.dropdown.open>.dropdown-toggle, .navbar .nav li.dropdown.active>.dropdown-toggle, .navbar .nav li.dropdown.open.active>.dropdown-toggle {
   color: #023b7e;
}

.navbar .nav li.dropdown.open>.dropdown-toggle .caret, .navbar .nav li.dropdown.active>.dropdown-toggle .caret, .navbar .nav li.dropdown.open.active>.dropdown-toggle .caret, .navbar .nav li.dropdown>.dropdown-toggle .caret, .navbar .nav li.dropdown>a:hover .caret, .navbar .nav li.dropdown>a:focus .caret {
border-top-color: #023b7e;
border-bottom-color: #023b7e;
}

.navbar .nav.account-bar li.divider-v {
color: #023b7e;
}

/* {
border-top-color: #fff;
border-bottom-color: #fff;
}
*/

/*
 .navbar .nav-box {
    background-color:#464646
 }
*/
 
/* nav.main-nav ul li a {
    color: #FFFFFF
 }
*/

/*
A:link {text-decoration: none}
A:visited {text-decoration: none}
A:active {text-decoration: none}
A:hover {font-size:24; font-weight:bold; color: red;}
*/
