{% extends "site_base.html" %}

{% load i18n %}

{% block title %} {% trans "Descrizione servizi" %} — {{ block.super }}{% endblock %}

{% block body_class %}services{% endblock %}

{% block body %}
  <header class="jumbotron subhead" id="overview">
    <h1>{% trans "GET-IT Web Services" %}</h1>
    <p class="lead">
      {% blocktrans %}GET-IT provides <a href="http://www.opengeospatial.org/">OGC</a> compliant web services to discover, view and download geospatial datasets.
{% endblocktrans %}
    </p>
  </header>




<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#wms" data-toggle="tab">WMS</a></li>
    <li><a href="#wfs" data-toggle="tab">WFS</a></li>
    <li><a href="#wcs" data-toggle="tab">WCS</a></li>
    <li><a href="#csw" data-toggle="tab">CSW</a></li>
    <li><a href="#wmts" data-toggle="tab">WMTS</a></li>
    <li><a href="#sos" data-toggle="tab">SOS</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="wms">
      <p></p>
      {% blocktrans %}
      <p>
          <a target="_blank" href="https://en.wikipedia.org/wiki/Web_Map_Service">Web Map Service (WMS)</a> is a technical specification defined by the <a target="_blank" href="https://en.wikipedia.org/wiki/Open_Geospatial_Consortium">Open Geospatial Consortium (OGC)</a>, which dynamically produces spatially referenced data maps from geographic information. This international standard defines a "map" as a representation of geographical information by returning a digital image suitable for display on a web browser.
      </p>

      <p>
	    Generally a WMS is not directly invoked; client applications such as GIS-Desktop or WEB-GIS are used that provide the user with interactive controls.
      </p>
    {% endblocktrans %}
      <p>
      <p>
      <p>
      <p>
      <p>
      <div class="alert alert-info">
        <h4>URL:</h4>
          {{GEOSERVER_BASE_URL}}wms?
      </div>
      <div class="alert alert-success">
        <a target="_blank"  href="{{GEOSERVER_BASE_URL}}ows?service=WMS&version=1.1.1&request=GetCapabilities"><h4>Capabilities Link</h4></a>
      </div>
    </div>
    <div class="tab-pane" id="wfs">
      <p></p>
      {% blocktrans %}
      <p>
          The <a target="_blank" href="https://en.wikipedia.org/wiki/Open_Geospatial_Consortium">Open Geospatial Consortium (OGC)</a> <a target="_blank" href="https://en.wikipedia.org/wiki/Web_Feature_Service">Web Feature Service Standard Interface (WFS)</a> allows a client to request and import geographic objects through the Web, using platform-independent calls.
      </p>

      <p>
	    Generally a WFS is not directly invoked; client applications such as GIS-Desktop or WEB-GIS are used that provide the user with interactive controls.
      </p>
    {% endblocktrans %}

      <p></p>
      <div class="alert alert-info">
        <h4>URL:</h4>
         {{GEOSERVER_BASE_URL}}wfs
      </div>
     <div class="alert alert-success">
      <a target="_blank"  href="{{GEOSERVER_BASE_URL}}ows?service=WFS&version=1.1.0&request=GetCapabilities"><h4>Capabilities Link<h4></a>
     </div>
    </div>
    <div class="tab-pane" id="wcs">
      <p></p>
      {% blocktrans %}
      <p>
          The <a target="_blank" href="https://en.wikipedia.org/wiki/Open_Geospatial_Consortium">Open Geospatial Consortium (OGC)</a> <a target="_blank" href="https://en.wikipedia.org/wiki/Web_Feature_Service">Web Coverage Service (WCS)</a> standard defines a standard interface and operations that allow interoperable access to geographical coverages. The term "grid coverage" typically refers to content such as satellite images, digital aerial photos, digital elevation data, and other phenomena represented by values at each measurement point.
      </p>

      <p>
	    Generally a WCS is not directly invoked; client applications such as GIS-Desktop or WEB-GIS are used that provide the user with interactive controls.
      </p>
    {% endblocktrans %}
      <p></p>
      <div class="alert alert-info">
        <h4>URL:</h4>
       {{GEOSERVER_BASE_URL}}wcs?
      </div>
       <div class="alert alert-success">
      <a target="_blank" href="{{GEOSERVER_BASE_URL}}ows?service=WCS&version=1.1.1&request=GetCapabilities"><h4>Capabilities Link</h4></a>
      </div>
    </div>
    <div class="tab-pane" id="csw">
     <p></p>
     {% blocktrans %}
      <p>
          The <a target="_blank" href="https://en.wikipedia.org/wiki/Open_Geospatial_Consortium">Open Geospatial Consortium (OGC)</a> <a target="_blank" href="https://en.wikipedia.org/wiki/Catalog_Service_for_the_Web">Catalog Service for the Web (CSW)</a> standard defines an interface for search, navigation and querying metadata on data, services, and other potential resources. It refers to the Internet-based publication of information on space applications, geo-services and spatial data (metadata) in a spatial data infrastructure.
      </p>
    {% endblocktrans %}
      <p></p>
      <div class="alert alert-info">
        <h4>URL:</h4>
        {{CATALOGUE_BASE_URL}}
      </div>
      <div class="alert alert-success">
       <a target="_blank"  href="{{CATALOGUE_BASE_URL}}?service=CSW&version=2.0.2&request=GetCapabilities"><h4>Capabilities Link</h4></a>
      </div>
    </div>
    <div class="tab-pane" id="wmts">
      <p></p>
      {% blocktrans %}
      <p>
          The <a target="_blank" href="https://en.wikipedia.org/wiki/Open_Geospatial_Consortium">Open Geospatial Consortium (OGC)</a> <a target="_blank" href="https://en.wikipedia.org/wiki/Web_Map_Tile_Service">Web Map Tile Service (WMTS)</a> standard provides international specifications for serving geographic data on the web through "cached image tiles".
      </p>
    {% endblocktrans %}

      <p></p>
      <div class="alert alert-info">
        <h4>URL:</h4>
        {{GEOSERVER_BASE_URL}}gwc/service/wmts?
      </div>
      <div class="alert alert-success">
	<a target="_blank"  href="{{GEOSERVER_BASE_URL}}gwc/service/wmts?service=WMTS&version=1.0.0&request=GetCapabilities"><h4>Capabilities Link</h4></a>
      </div>
    </div>
    <div class="tab-pane" id="sos">
    {% blocktrans %}
      <p>
	For <a href="http://www.opengeospatial.org/standards/sos">Sensor Observation Service (SOS)</a> we mean a technical specification defined by the <a href="http://www.opengeospatial.org/standards/wms">OGC</a>, applicable in the case where data are collected by sensors and they must be managed interoperable logic. This standard defines a web service that makes it possible to query the observations (using the <a href="http://www.opengeospatial.org/standards/om">Observation &amp; Measurement</a> - O&amp;M scheme), the sensor metadata (using the <a href="http://www.opengeospatial.org/standards/sensorml">Sensor Model Language</a> - SensorML scheme) as well as the characteristics observed; still it allows to record a sensor, but also to cancel the recording, also defining the operations to insert new observations.
      </p>

      <p>
	Generally an SOS to all requests responds with an XML, but for a more suitable display we recommend the use of client applications such as GIS-Desktop or WEB-GIS that provide the user with interactive controls.
      </p>
    {% endblocktrans %}
      <div class="alert alert-info">
        <h4>URL:</h4>
        {{SOS_URL}}
      </div>
      <div class="alert alert-success">
       <a target="_blank"  href="{{SOS_CAPABILITIES_URL}}"><h4>Capabilities Link</h4></a>
      </div>
    </div>

  </div>
</div>
{% endblock %}
